body {
	font-family: Arial, sans-serif;
	background-color: pink;
	width: 80%;
	margin: 50px auto;
font-size: 20px;
}

a { color: #555;
	font-weight: bold;}

table a {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.centered {
	margin: 0 auto;
	width: 100%;
}

#theTable {
	background-color: #FF414C;
	color: white;
	width: 90%;
	margin: 30px auto;
}

#theTable td {
	background-color: #FFF;
	text-align: center;
	padding: 5px;
	color: #555;
	font-size: 1.5em;
}

th {
	text-align: center;
}

ol, ul {
	list-style: none;
}

.email {
	background: red;
	color: white;
}

