body {
	font-family: Arial, sans-serif;
	background-color: pink;
	width: 80%;
	margin: 50px auto;
}

a {
	color: red;
	font-weight: bold;
	font-style: italicized;
}

.centered {
	margin: 0 auto;
	width: 100%;
}

#theTable {
	background-color: #FF414C;
	color: white;
	width: 50%;
	margin: 30px auto;
}

#theTable td {
	background-color: #FFF;
	text-align: center;
	padding: 5px;
}

th {
	text-align: center;
}

.email {
	background: red;
	color: white;
}

.title {
	font-size: 2em;
}
