
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* CSS below */
body {
	line-height: 1;
}
ol, ul 
{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: pink;
	font-family: Arial, sans-serif;
	margin: 0 auto;
	width: 80%;
	
}

#header a {
	background: none;
}

a,a:visited {
	background-color: gray;
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	background-color: white;
	color: purple;	
}

a:active {
	color: deeppink;
	background-color: black;
}

#theTable {
	background-color: orange;
	color: white;
	margin: 40px 0;
	text-align: left;
	width: 50%;
}

.centered {
	margin: 0 auto;
	width: 100%;
}

#theTable td {
	background-color: #FFF;
	color: red;
	text-align: right;
}

th {
	text-align: left;
}

.email {
	background: red;
	color: white;
}

.title {
	font-size: 2em;
}

.redbold {
	color: red;
	font-size: 2em;
	font-weight: bold;
}

#header {
	background-color: yellow;
	height: 200px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.sidebar {
	background-color: lime;
	float: left;
	width: 25%;
	padding: 20px;
	height: 100%;
}

#content {
	background-color: gray;
	float: right;
	padding: 10px;
	width: 60%;
}

#footer {
	background-color: orange;
	clear: both;
	height: 100px;
	margin: 0 auto;
	width: 100%;
	position: relative;
}

ul, ol {
	clear: both;
	padding: 10px;
	list-style-type: disc;
}

ul#navigation  {
	list-style-type: none;
	width: 100%;
	padding: 10px;
}

#navigation li {
	background-color: white;
	border: 5px solid purple;
	border-radius: 10px;
	float: left;
	list-style-type: none;
	margin: 0 10px;
	padding: 5px 10px;
	text-align: center;
	width: auto;

}


