body {
	font-family: Arial, sans-serif;
	background-color: pink;
	width: 80%;
	margin: 0 auto;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

a:visited {
	color: blue;
	background-color: lime;
}

a:hover {
	color: purple;
	background-color: white;
}

a:active {
	color: deeppink;
	background-color: black;
}



#theTable {
	color: white;
	background-color: orange;
	width: 50%;
	margin: 40px 0;
	text-align: left;
}

.centered {
	margin: 0 auto;
	width: 100%;
}

#theTable td {
	background-color: #FFF;
	color: red;
	text-align: right;
}

th {
	text-align: left;
}

.email {
	background: red;
	color: white;
}

.title {
	font-size: 2em;
}

.redbold {
	font-weight: bold;
	color: red;
	font-size: 2em;
}

#header {
	background-color: yellow;
}

.sidebar {
	background-color: lime;
}

#content {
	background-color: gray;
}

#footer {
	background-color: orange;
}